

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/sun.png" *ngIf=" weatherData.current.temp_c > 15">
    <img src="../assets/moon.jpg" *ngIf=" weatherData.current.temp_c  < 15">

    <div class="weather-data">
      <div class="location">{{weatherData.location.country}}</div>
      <div class="temperature">{{weatherData.current.temp_c}} <span>&#8451;</span></div>
      <div class="time">{{weatherData.location.localtime}}</div>
      <!-- <div class="temperature">{{14.40 | number: '1.0.0'}}</div> -->

    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/pressure.png" alt="">
          <span>pressure</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.pressure_mb }}(mb)
        </div>
      </div>


      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/max.png" alt="">
          <span>temp</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.temp_f}} <span>&#8457;</span>
        </div>
      </div>


      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/humid.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.humidity}}% 
        </div>
      </div>


      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/wind.jpg" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.wind_kph }} km/h 
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="upper-data">
    <img src="../assets/istockphoto-851922016-612x612.jpg" *ngIf=" 14 > 15">
    <img src="../assets/moon.jpg" *ngIf=" 14 < 15">

    <div class="weather-data">
      <div class="location">Palestine</div>
      <div class="temperature">{{14.40 }} <span>&#8451;</span></div>
       <div class="temperature">{{14.40 | number: '1.0.0'}}</div> 

    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/min.jpg" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10 <span>&#8451;</span>
        </div>
      </div>


      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/max.jpg" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          20 <span>&#8451;</span>
        </div>
      </div>


      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/humid.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77% 
        </div>
      </div>


      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/wind.jpg" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11 km/h 
        </div>
      </div>
    </div>
  </div>
</div>-->
<router-outlet></router-outlet>